/* Universal Styles */

html {
  font-size:16px;
  }

.flex-container {
  display: flex;
  }


 /* Header */

header {
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%
  }

header div {
  align-items: center;
  height:2rem;
  padding-left:1.5rem;
  }

header .nav-desktop ul li{
  display: inline-block;
  padding-right:1rem;
  }

.nav-desktop ul li:last-child {
  padding-right:0.5rem;
  }
.nav-phone {
  display: none;
  }

@media only screen and (max-width:580px) {
  .nav-desktop, .logo-nav{
    display: none;
  }
  .nav-phone {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%
  }
}


   /* Main Banner */

.main-banner{
  display: flex;
  width: 100%;

  }

.main-banner img{
  width: 60%;
  margin: auto;
  height: 30rem;
  padding:2rem 1.5rem;
  }

.main-banner div{
  display: flex;
  justify-content: center;
  margin: auto 0;
  text-align: left;
  flex-flow: column nowrap;
  }

.main-banner div h2{
  font-size: 2.8rem;
  font-weight: bold;
  margin: 1rem 0;
 }

.main-banner div h4{
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
 }

#button-main-banner {
  font-size: 2rem;
  text-align: center;
  color:white;
  background-color: grey;
  margin: 1rem 0;
  width:50%;
  font-style: 1.5rem;
 }
#button-main-banner span {
  padding: 0.5rem;
}


/* Information Main Section */

.information-main {
  display: inline-flex;
  max-width: 100%;
  width: 100%;
 }

.banner-leftside {
  display: block;
  padding:2rem 1.5rem;
  width: 60%;
 }

.banner-leftside img {
  width: 100%;
  margin: auto;
  height: 30rem;
  padding-bottom: 2rem;
  }

.content-under-guy-reading-book h1 {
  padding-bottom: 1.5rem;
  font-weight: bold;
  font-size: 2rem;
  }

.content-under-guy-reading-book h5 {
  padding-bottom: 1.5rem;
  font-weight: lighter;
  font-size: 2rem;
  }

.content-under-guy-reading-book p {
  font-size: 1rem;
  position: absolute;
  border: 0rem;
  font-weight:normal;
  }

.banner-rightside {
  display:block;
  width: 40%;
  }
.banner-rightside div:first-child {
  padding-top: 2rem;
}
.banner-rightside div img {
  width: 35%;
  height: auto;
  }

.banner-rightside.info {
  width: 65%;
  display: flex;
  justify-content:space-between;
  }

.container-info {
  display: flex;
  padding: 1rem;
  width: 30rem;
  }
.info {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  margin: 0rem;
 }
.info > *{
  padding: 0.25rem 0.3rem;
}
.info h1{
  font-size: 2rem;
  font-weight: bold;

  }

.info p{
  font-size: 0.75rem;
  font-weight: normal;
  }
.hyperlink-read {
  font-size: 0.75rem;
  font-weight: lighter;
}
